// http://ionicframework.com/docs/v3/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  font-family: 'Pacifico' !important;
}

/* O V E R R I D E S
----------------------------*/

.main {
  background-color: #1d1d1d;
  color: #aa0000; 

  &__hero {
    font-family: 'Pacifico';
    display: flex;
    justify-content: center;
  }

  &__subtext {
    text-align: center;
    font-family: 'Mountains of Christmas';
    font-size: 4rem;
  }
}

.santa-btn {
  font-size: 2rem;
  background-color: #aa0000;
  transition: .5s;
  font-family: 'Mountains of Christmas';
  width: 100%;
  padding: 0;
}

.toolbar-title-md {
  font-family: 'Mountains of Christmas';
  font-size: 3rem;
  color: #aa0000;
}

.toolbar-background {
  background-color: #1c1c1c;
}

.tabs-md .tabbar {
  background-color: #1a1a1a;
  border: 1px solid #aa0000;
  color: #aa0000;
}

